<table>
  <tbody>
    <% @application_forms.each do |application_form| %>
      <tr>
        <th><%= application_form.correction_course.full_name %></th>
        <th><%=link_to "Szczegoly", notification_path(application_form.correction_course)%></th>
      </tr>
    <%end%>
  </tbody>
</table>
